body {
  font-family: "Open Sans";
  margin:0;
  padding:0;
  /* Sección menú*/
}
.navbar {
  background-color: #e83e8c;
}
.navbar-dark .navbar-toggler{
    border-color: #ffffff !important;
}
.logo_menu {
  width: 40%;
  margin-left: 8vw;
}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0 !important;
    padding-right: 4vw;
  }
.container-fluid{
    flex-wrap: unset !important;
}

/* sección cards*/
.card-section h1 {
  text-align: center;
  color: #707070;
  font-weight: 700;
}
.card-section {
  display: flex;
  justify-content: center;
}
.card {
  color: #373a3c;
}
.card-title {
  font-size: 17px;
  font-weight: 700;
}
.card-text {
  font-size: 16px;
}
.list-group-item,
.card-link {
  font-size: 11px;
}
.card-link {
  color: #1c7cd5;
  text-decoration: none;
}

/* sección iconos*/

.icon-section {
  background: #17a2b8;
}
.icon-section h2 {
  font-size: 40px;
  font-weight: 700;
  
}
.icons-rows{
    display: flex;
    justify-content: center;
    
}
.icons-rows h2{
    padding-left: 6vw;
}

.icons{
    padding-left: 12vw !important;
}
.icons i {
  margin-left: 1vw;
  font-size: 40px;
  padding-top: 0.8vw;
}
.row {
    margin: 0 !important;
}

/* footer*/
.footer {
  background: #e83e8c;
  text-align: center;
}
.footer img {
  width: 5%;
  padding: 3vw 0;
}
@media (max-width: 575.98px) { 
    .footer img {
        width: 20%;
        padding: 3vw 0;
      
      }
 }
